@if (ViewBag.Message != null)
{
    <div class="alert text-center text-warning"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>@ViewBag.Message</div>
}
